<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dr. Birthday</title>
        {% include 'header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/splash.css') }}" />
        <link href="http://fonts.googleapis.com/css?family=Exo+2:100" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="logo">Dr. Birthday</h1>
        <div id="login_button">
        <a href="https://drchrono.com/o/authorize/?redirect_uri=http%3A//localhost%3A5000/login/authorized&response_type=code&client_id=Ml395hDo9JI4qypj57l2hWeTJWzVPEVr5If1mz2A"> 
        <h2>Login with <img 
        src="{{ url_for('static', filename='assets/img/dclogo.png') }}" 
        height="25%"
        width="25%"/></h2> </a>
        </div>
    </body>
</html>