{% extends "layout.html" %}
{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<canvas id="myCanvas" width="1400" height="700" style="border:1px solid #c3c3c3;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<div style="display:none;">
  <img id="human_img" src="static/player.png" width="300" height="227">
  <img id="enemy_img" src="static/enemy.png" width="300" height="227">
</div>

<script type="text/javascript">
  $.ajax({
    url: "/game",
    data: {
      format: "json"
    },
    success: function(data) {

      console.log(data);

      data.forEach(function(player) {

        var canvas = document.getElementById('myCanvas');
        if (canvas.getContext) {
          var ctx = canvas.getContext('2d');
          if(player.type != "human")
          {
            ctx.fillStyle = "#ED1B24";
            var image = document.getElementById('enemy_img');
          }
          else
          {
            ctx.fillStyle = "#000000";
            var image = document.getElementById('human_img');
          }
          ctx.fillRect(player.location[0],player.location[1],32,32);
          ctx.drawImage(image, player.location[0], player.location[1], 32, 32);
        }
        $('.result').html(data);
      })
    },
    error: function() {
      console.log("nooooo");
    },
    type: "GET"
  });
</script>
























{% for player in players %}
  <p>{{ player }}</p>
  <p>{{ player["location"][0] }}</p>
{% endfor %}


{% endblock %}